.transparent-btn{
    background: transparent;
    display: block;
    cursor: pointer;
    color: currentColor;
    border: 0;
}

.back-btn{
    background-color: transparent;
    color: $white;
    display: inline-block;
    padding: 15px;
    font-size: 0.8rem;
    transition: background 0.3s ease,color 0.3s ease;
    border-radius: 50%;
    margin-right: 10px;
}

.back-btn:hover{
    background: #162D40;
}
