.transparent-btn{
    background: transparent;
    display: block;
    cursor: pointer;
    color: currentColor;
    border: 0;
}

.back-btn{
    background-color: transparent;
    color: $white;
    display: inline-block;
    padding: 15px;
    font-size: 0.8rem;
    transition: background 0.3s ease,color 0.3s ease;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    border: 0;
}

.select-btn {
    background: $dark;
    color: $white;
    cursor: pointer;
    margin: 0 15px 15px 0;
    border-radius: 15px;
    padding: 10px 12px;
    border: 0;
    transition: background 0.3s;
    &:hover{
        background: #434343;
    }
    &.active{
        background: $blue!important;
    } 
}

.back-btn:hover{
    background: #162D40;
}
