.pagination{
    margin: 15px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    .page-item{
        cursor: pointer;
        margin-right: 10px;
        background-color: $dark;
        padding: 10px;
        font-size: 1rem;
        cursor: pointer;
        svg{
            font-size: 1rem;
            width: 1rem;
            height: 1rem;
        }
        &:hover{
            background-color: #222;
        }
        &.disable{
            pointer-events: none;
            cursor: no-drop;
            .page-link{
                color: #6c757d;
                pointer-events: none;
                cursor: no-drop;
            }
        }
        &.active{
            background-color: $dark-blue;
        }
    }

    
}