.page-header{
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-size: 1.2rem;
    .page-title{
        display: inline-block;
        font-weight: 600;
    }
    .interact-area{
        margin-left: auto;
    }
}